In [244]:
import pandas as pd
import MySQLdb, time
from pandas.io import sql

def changeToTimestamp(sep_time):
    time_struct = time.strptime(sep_time, "%Y-%m-%d %H:%M:%S")
    timestamp = int(time.mktime(time_struct))
    return timestamp

def get_data(filename, sep, names):
    raw_data = pd.read_table(filename, sep='\t', header=None, names=names).dropna(how='any')

    user_info = raw_data['user_id']
    read_times = raw_data['read_time']
    sep_time = "2014-03-20 23:59:00" # the time dividing train data and test data
    timestamp = changeToTimestamp(sep_time)

    raw_data['read_time'] = raw_data['read_time'].apply(lambda x:pd.to_datetime(x, unit='s'))
    before_sep_data = read_times.index[read_times < timestamp]
    after_sep_data = read_times.index[read_times >= timestamp]

    training_data = raw_data.drop(after_sep_data)
    testing_data = raw_data.drop(before_sep_data)

    return raw_data, training_data, testing_data


dir = "/Users/luoyi/Documents/Python/Capstone_Project/Content-Based-News-Recommendation-System-in-Spark"
filename = dir + '/data/user_click_data.txt'

names = ['user_id', 'news_id', 'read_time', 'title', 'content', 'pub_date']
raw_data, training_d, testing_d = get_data(filename,  sep = '\t', names=names)
training_d.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 83209 entries, 0 to 116224
Data columns (total 6 columns):
user_id      83209 non-null int64
news_id      83209 non-null int64
read_time    83209 non-null datetime64[ns]
title        83209 non-null object
content      83209 non-null object
pub_date     83209 non-null object
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 4.4+ MB

In [245]:
training_d[:5]

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>user_id</th>
      <th>news_id</th>
      <th>read_time</th>
      <th>title</th>
      <th>content</th>
      <th>pub_date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>5218791</td>
      <td>100648598</td>
      <td>2014-03-10 14:54:24</td>
      <td>消失前的马航370</td>
      <td>【财新网】（实习记者葛菁）据新华社消息，马来西亚航空公司表示，与一架由吉隆坡飞往北京的客...</td>
      <td>2014年03月08日12:31</td>
    </tr>
    <tr>
      <th>1</th>
      <td>5218791</td>
      <td>100648802</td>
      <td>2014-03-10 14:53:25</td>
      <td>马航代表与乘客家属见面</td>
      <td>3月9日，马来西亚航空公司代表在北京与马航客机失联事件的乘客家属见面。沈伯韩/新华社（手机拍...</td>
      <td>2014年03月09日13:00</td>
    </tr>
    <tr>
      <th>2</th>
      <td>5218791</td>
      <td>100648830</td>
      <td>2014-03-10 14:53:16</td>
      <td>马航召开新闻发布会通报失联航班最新情况</td>
      <td>3月9日下午三点，马航在首都国际机场旁边的国都大饭店召开发布会通报失联航班最新情况。王攀/财...</td>
      <td>2014年03月09日14:24</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5218791</td>
      <td>100648915</td>
      <td>2014-03-10 14:53:01</td>
      <td>马航失联航班搜救画面</td>
      <td>3月9日，马来西亚海岸警卫队船只搜寻马航失联航班。CFP1/4</td>
      <td>2014年03月09日19:00</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5218791</td>
      <td>100648984</td>
      <td>2014-03-10 14:52:38</td>
      <td>马来西亚民航局举行新闻发布会破“舷窗”谣言</td>
      <td>华尔街日报消息，越南搜救队在土珠岛西南偏南80公里处发现一处新的可疑物。马民航部称，越南岛屿...</td>
      <td>2014年03月10日08:12</td>
    </tr>
  </tbody>
</table>
</div>

In [246]:
news_df = training_d[['news_id', 'title', 'pub_date', 'content']]
news_df = news_df.drop_duplicates(['news_id'])
news_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4493 entries, 0 to 116176
Data columns (total 4 columns):
news_id     4493 non-null int64
title       4493 non-null object
pub_date    4493 non-null object
content     4493 non-null object
dtypes: int64(1), object(3)
memory usage: 175.5+ KB

In [246]:
from sqlalchemy import create_engine
engine = create_engine("mysql+mysqldb://root:"+'10081008'+"@localhost/RS_News?charset=utf8", echo=False)

In [247]:
import re, datetime

def changetoDate(x):
    segs = re.findall(r"(\d+)", x)
    year, month, day = segs[0], segs[1], segs[2]
    if len(segs) == 3:
        hour, min = 0, 0
    else:
        hour, min = segs[3], segs[4]
    return datetime.datetime(year=int(year), month=int(month), day=int(day), hour=int(hour)
                             , minute=int(min), second=0)
news_df['pub_date'] = news_df['pub_date'].apply(lambda x : changetoDate(x))
# news_df['content'] = news_df['content'].apply(lambda x: re.sub("&nbsp", "<br>", str(x)))
news_df['content'][:4]

0    　　【财新网】（实习记者葛菁）据新华社消息，马来西亚航空公司表示，与一架由吉隆坡飞往北京的客...
1    3月9日，马来西亚航空公司代表在北京与马航客机失联事件的乘客家属见面。沈伯韩/新华社（手机拍...
2    3月9日下午三点，马航在首都国际机场旁边的国都大饭店召开发布会通报失联航班最新情况。王攀/财...
3                      3月9日，马来西亚海岸警卫队船只搜寻马航失联航班。CFP1/4
Name: content, dtype: object

In [252]:
# test = news_df.head()
news_df.to_sql(name="app_news", con=engine, if_exists='append', index=False)

In [251]:
# load in user table
user_df = training_d[['user_id']]
user_df = user_df.drop_duplicates(['user_id'])
user_df['passwd'] = '1234'
user_df.to_sql(name="app_users", con=engine, if_exists='append', index=False)

In [253]:
# load in history table
history = training_d[['user_id', 'news_id', 'read_time']]
history.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 83209 entries, 0 to 116224
Data columns (total 3 columns):
user_id      83209 non-null int64
news_id      83209 non-null int64
read_time    83209 non-null datetime64[ns]
dtypes: datetime64[ns](1), int64(2)
memory usage: 2.5 MB

In [249]:
history[:10]

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>user_id</th>
      <th>news_id</th>
      <th>read_time</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>5218791</td>
      <td>100648598</td>
      <td>2014-03-10 14:54:24</td>
    </tr>
    <tr>
      <th>1</th>
      <td>5218791</td>
      <td>100648802</td>
      <td>2014-03-10 14:53:25</td>
    </tr>
    <tr>
      <th>2</th>
      <td>5218791</td>
      <td>100648830</td>
      <td>2014-03-10 14:53:16</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5218791</td>
      <td>100648915</td>
      <td>2014-03-10 14:53:01</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5218791</td>
      <td>100648984</td>
      <td>2014-03-10 14:52:38</td>
    </tr>
    <tr>
      <th>5</th>
      <td>5218791</td>
      <td>100649040</td>
      <td>2014-03-10 14:52:00</td>
    </tr>
    <tr>
      <th>6</th>
      <td>52550</td>
      <td>100644102</td>
      <td>2014-02-28 17:13:08</td>
    </tr>
    <tr>
      <th>7</th>
      <td>52550</td>
      <td>100644648</td>
      <td>2014-02-28 17:11:30</td>
    </tr>
    <tr>
      <th>9</th>
      <td>52550</td>
      <td>100643946</td>
      <td>2014-02-28 17:05:28</td>
    </tr>
    <tr>
      <th>10</th>
      <td>52550</td>
      <td>100644648</td>
      <td>2014-02-28 16:58:40</td>
    </tr>
  </tbody>
</table>
</div>

In [254]:
history.to_sql(name="app_records", con=engine, if_exists='append', index=False)

In [257]:
test_df = testing_d[['news_id', 'title', 'pub_date', 'content']]
test_df['pub_date'] = test_df['pub_date'].apply(lambda x : changetoDate(x))

/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [258]:
test_df.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>news_id</th>
      <th>title</th>
      <th>pub_date</th>
      <th>content</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>11</th>
      <td>100656369</td>
      <td>江苏一银行被传倒闭引挤兑潮</td>
      <td>2014-03-25 15:46:00</td>
      <td>3月24日下午，江苏射阳农村商业银行设在盐城环保产业园的一个网点，遭遇近千群众挤兑现金。CF...</td>
    </tr>
    <tr>
      <th>12</th>
      <td>100656551</td>
      <td>马交通部称飞机已经跌入海底</td>
      <td>2014-03-25 20:15:00</td>
      <td>当地时间3月25日，马来西亚代理交通部长希沙姆丁在吉隆坡举行发布会。希沙姆丁说航班最后已知的...</td>
    </tr>
    <tr>
      <th>13</th>
      <td>100656616</td>
      <td>米歇尔成都与学生一起上英语课</td>
      <td>2014-03-26 08:25:00</td>
      <td>3月25日，四川成都，美国第一夫人米歇尔参观成都第七中学，和学生一起上英语课。东方IC2/3</td>
    </tr>
    <tr>
      <th>14</th>
      <td>100656637</td>
      <td>探访国际海事卫星组织英国总部</td>
      <td>2014-03-26 09:09:00</td>
      <td>3月25日，英国伦敦，国际海事卫星组织媒体主管（左）向记者介绍控制室大屏幕的显示内容。王丽莉...</td>
    </tr>
    <tr>
      <th>15</th>
      <td>100656815</td>
      <td>青岛公交司机练武防身</td>
      <td>2014-03-26 15:41:00</td>
      <td>3月26日，山东青岛交运集团黄岛汽车总站百余名驾乘人员在黄岛边检站战士指导下学习近身格斗、突...</td>
    </tr>
  </tbody>
</table>
</div>

In [261]:
test_df = test_df.drop_duplicates(['news_id'])
test_df.info()
test_df.to_sql(name="app_tnews", con=engine, if_exists='append', index=False)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2070 entries, 11 to 116151
Data columns (total 4 columns):
news_id     2070 non-null int64
title       2070 non-null object
pub_date    2070 non-null datetime64[ns]
content     2070 non-null object
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 80.9+ KB